.circle {
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
}

span.circle.highlight {
  background-color: greenyellow;
}

@media only screen and (max-width: 576px) {
  #serial {
    width: unset !important;
  }
}
